{% ckan_extends %}

{% block resource_additional_information_inner %}
      <div class="module-content">
        <h2>{{ _('Additional Information') }}</h2>
        <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
          <thead>
            <tr>
              <th scope="col">{{ _('Field') }}</th>
              <th scope="col">{{ _('Value') }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{ _('Last updated') }}</th>
              <td>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or _('unknown') }}</td>
            </tr>
            <tr>
              <th scope="row">{{ _('Created') }}</th>
              <td>{{ h.render_datetime(res.created) or _('unknown') }}</td>
            </tr>
            <tr>
              <th scope="row">{{ _('Format') }}</th>
              <td>{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</td>
            </tr>
            <tr>
              <th scope="row">{{ _('License') }}</th>
              <td>{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</td>
            </tr>
            {% for key, value in h.format_resource_items(res.items()) %}
              {% if key not in ["validation", "validated", "update timestamp", "validation time", "validation errors", "validation errors list"] %}
                <tr class="toggle-more"><th scope="row">{{ key }}</th><td>{{ value }}</td></tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
        <!-- TODO: i18n -->

        {% for key, value in h.format_resource_items(res.items()) %}
          {% if key == "validation errors" %}
            {% if value != 'None' %}
              <h2>{{ _('Validation errors') }}</h2>
              <table class="table table-striped table-bordered table-condensed">
                <thead>
                  <tr>
                    <th scope="col">{{ _('Errors') }}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in h.string_to_list(value) %}
                    <tr>
                      <td>{{item}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
{% endblock %}
