{% ckan_extends %}

{% block basic_fields %}

  {{ super() }}
  <div class="control-group control-full">
    <label class="control-label" for="field-validation">{{ _("Validation schema") }}</label>
    <div class="controls">
        <textarea name="validation_schema" id="field-validation" placeholder="{{ _('Validation schema for JSON, XML and CSV files. RDF files are validated against the ontologies.') }}" cols="20" rows="5">{{data.validation_schema}}</textarea>
    </div>
  </div>
{% endblock %}
